/build.nosync/
/gams_modules/
/export/
/plugins/
/ui-plugins/
/views/
/themes/
/game/build.nosync/
/game/env.o
/game/room.glsl.odin
/game/station.rspk
/game/sokol/
/dist/
/notices/project-units/
__pycache__/
*.pyc
node_modules/
.DS_Store
